<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<style>
.helo
{
width:50%;
height:50%;
border: 2px solid red;
min-width:442px;
min-height:174px;
text-align:center;
}

</style>
</head>

<body>{% csrf_token %}
<form action="/polls/to_mail/" method="POST">
{% csrf_token %}
<div class="helo">

<p>Enter your email for verification</p>
<label for="email_to">Email:</label>
<input type="text" name="email_to" id="email_to">
<input type="submit" value="send">
</div>
</form>
</body>



</html>