<HTML>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<style>
div{
width: 50%;
    height: 350px;
    border: 1px solid black;
    text-align: center;

    position: absolute;
    left: 25%;
    box-shadow: 5px 5px 20px 0px;
	overflow:scroll;
}
	
</style>
</head>

<body>
<div>
<form method="post" action="">{% csrf_token %}
<p>password reset for <span style="color:red">{{usermail}}</span></p>

 <input type="password" size="20" name="password" required>
 <input type="submit" value="reset">
 </form>
 </div>


</html>